<?xml version="1.0"?>
<robot name="cleany" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="include_head_camera" default="true"/>
  <xacro:include filename="$(find cleany_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find cleany_description)/urdf/cleany_geometry.xacro"/>
  <xacro:include filename="$(find cleany_description)/urdf/head_camera.xacro"/>

  <xacro:cleany_robot_geometry/>
  <xacro:if value="$(arg include_head_camera)">
    <xacro:cleany_head_camera/>
  </xacro:if>
</robot>
